@model studentApp2.Models.TeacherCoursesGroup

@{
    ViewBag.Title = "Assign a course to a group";
}

<h2>Assign a course and a teacher to a specific group</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TeacherCoursesGroup</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.GroupID, "GroupID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GroupID", null, htmlAttributes: new { @class = "form-control group" })
            @Html.ValidationMessageFor(model => model.GroupID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Courses", htmlAttributes: new { @class = "control-label col-md-2"})
        <div class="col-md-10">
            <select name="TeacherCoursesID" id="courses" class="form-control course">
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script language="javascript" type="text/javascript">


        function makeRequest(path, data) {
            $.ajax({
                type: "POST",
                url: path,
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (xhr, status, error) {
                    console.log("error");
                },
                success: function (response) {
                    console.log("success");
                    console.log(response);
                    courses = response;
                    var options = "";
                    for (var i = 0, len = courses.length; i < len; i++) {
                        options += '<option value= "' + courses[i].Value + '">' + courses[i].Text + '</option>';
                        console.log(courses[i]);
                    }
                    $('#courses').html(options);
                },
                failure: function (response) {
                    console.log("fail");
                }
            });
        };
    $(function () {
        $(".group").on("change", function () {
            var data = JSON.stringify({
                GroupID: event.currentTarget.value,
            });
            console.log(data);
            makeRequest("GetCourseList", data)
        })
    })
</script>
}
