@using System.Web.Mvc.Html;
@model studentApp2.Models.CatalogTeacherViewModel
@{
	ViewBag.Title = "Catalog ";
}

	<h1>Catalog @Model.CourseName</h1>

<div class="jumbotron">
	<table class="table">




		@*<tr>
			@Html.DropDownList("CourseId", new SelectList(ViewBag.courseList, "CourseID", "CourseName"), "Select Course", new { @class = "form-control", id = "CourseOption" })
		</tr>*@


		<tr>
			<th>Group</th>
			<th>Student</th>
			<th>Date</th>
			<th>Grade</th>
		</tr>

		@foreach (var stud in Model.Students)
		{
    <tr>

        <td>
            @stud.GroupName
        </td>
        <td>
            @stud.Fname @stud.Lname
        </td>
        @if (stud.Grade == 0)
        {
            <td>Not assigned</td>
            <td>Not assigned</td>

        }
        else if (stud.Grade == -1)
        {
            <td>@stud.GradeDate</td>
            <td>Absent</td>
        }
        else if (stud.Grade == -2)
        {
            <td>@stud.GradeDate</td>
            <td>Not elligible</td>
        }
        else
        {
            <td>@stud.GradeDate</td>
            <td>@stud.Grade</td>
        }
    </tr>}


	@*@Html.TextBox(nota, null, new { @class = "form-control grade", studId = @stud.StudentId })*@

	<tr>
		<td><input class="btn btn-primary" onclick="location.href='@Url.Action("Edit/"+@Model.CourseID, "Catalogs")'" value="Edit" /></td>
	</tr>
	</table>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}