@using System.Web.Mvc.Html;
@model studentApp2.Models.CatalogStudentViewModel
@{
    ViewBag.Title = "Catalog";
}
<h1>Catalog</h1>

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>Materie</th>
            <th>Data</th>
            <th>Nota</th>
        </tr>
        @foreach (var grade in Model.grades)
        {
        <tr>
        <td>
            @grade.CourseName
        </td>
        @if (grade.Grade == 0)
        {
            <td>Not assigned</td>
            <td>Not assigned</td>

        }
        else if (grade.Grade == -1)
        {
            <td>@grade.GradeDate.ToString().Split(' ')[0]</td>
            <td>Absent</td>
        }
        else if (grade.Grade == -2)
        {
            <td>@grade.GradeDate.ToString().Split(' ')[0]</td>
            <td>Not elligible</td>
        }
        else
        {
            <td>@grade.GradeDate.ToString().Split(' ')[0]</td>
            <td>@grade.Grade</td>
        }
        </tr>
}
    </table>
</div>